body{
  width: 100%;
  height: 100%;
  display: flex;
}

div{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  flex-wrap: wrap;
  border: 1px dashed green;
}
.Sidebar {
 grid-row: 1 /span 2;
 display: block;
background-color: rgb(221,221,221);
}

.App-single-container1, .App-single-container2, .App-single-container3, {
grid-row: 2 / span 2;
display: flex;
flex-direction: row;
}


