

* {
  box-sizing: border-box;
}


/* We put global "helper" css rules in this file */

 /* Generally, simple CSS rules to define our overall layout */

body {
  background-color: rgb(247,246,246);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

